<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="abilityModal2">
 <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="abilityModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-ability">
                <div class="modal-content" style="text-align: left">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-custom">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Development</h2>
                                    <!-- p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul> -->
                                    
                                    <div class="mt-5">
										<div class="row">
											<div class="col">
												<div class="pb-3 row">
													<div class="col">
														<h2>
															<span style="color:#3c78d8">SKILL</span>
														</h2>
													</div>
												</div>
												<br/>
												<div>
													<div class="row">
														<div class="text-md-right col-sm-12 col-md-3">
															<h4 style="color:gray">Back-end</h4>
														</div>
														<div class="col-sm-12 col-md-9">
															<div class="mt-2 mt-md-0 row">
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				JAVA
																			</li>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				Spring Boot
																			</li>																			
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-secondary badge-pil">2</span>
																				</span>
																				C/C++																					
																			</li>
																			<li>
																				<span>
																					<span class="badge badge-secondary badge-pil">2</span>
																				</span>	
																				Python
																			</li>																			
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-light badge-pil">1</span>
																				</span>	
																				PHP
																			</li>
																			<li>
																				<span>
																					<span class="badge badge-light badge-pil">1</span>
																				</span>	
																				Apache
																			</li>																				
																		</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div>
													<hr>
													<div class="row">
														<div class="text-md-right col-sm-12 col-md-3">
															<h4 style="color:gray">Database</h4>
														</div>
														<div class="col-sm-12 col-md-9">
															<div class="mt-2 mt-md-0 row">
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				MySQL
																			</li>
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				Oracle
																			</li>
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				MyBatis
																			</li>																			
																		</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												
												<div>
													<hr>
													<div class="row">
														<div class="text-md-right col-sm-12 col-md-3">
															<h4 style="color:gray">Front-end</h4>
														</div>
														<div class="col-sm-12 col-md-9">
															<div class="mt-2 mt-md-0 row">
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				JSP
																			</li>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				Thymeleaf
																			</li>																			
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				Javascript
																			</li>
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				<span>
																					<span class="badge badge-primary badge-pil">3</span>
																				</span>	
																				HTML/CSS
																			</li>
																		</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div>
													<hr>
													<div class="row">
														<div class="text-md-right col-sm-12 col-md-3">
															<h4 style="color:gray">Etc.</h4>
														</div>
														<div class="col-sm-12 col-md-9">
															<div class="mt-2 mt-md-0 row">
																<div class="col-12 col-md-4">
																		<ul>
																			<li>																			
																				Assembly
																			</li>
																			<li>																			
																				Websquare5
																			</li>
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				Git / Github
																			</li>
																			<li>
																				SVN
																			</li>
																		</ul>
																</div>
																<div class="col-12 col-md-4">
																		<ul>
																			<li>
																				Linux
																			</li>
																		</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									
                                    <!-- <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>