<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="portfolioModal1">
<!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">국민연금공단</h2>
                                    <p class="item-intro text-muted">공적연금연계제도 차세대 프로젝트</p>
                                    <img class="img-fluid d-block mx-auto" src="../assets/img/portfolio/1_1.png" alt="..." />
                                    <p>
                                    	홈페이지를 통해 접수된 공적연계 신청인을 관리하는 국민연금 자체 내부 솔루션 
                                    	<br/>Java Servlet & Jsp로 구성된 AS-IS를 Java Spring & Websquare5 기반의 TO-BE로 전환한 대규모 차세대 프로젝트
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Main Task:</strong>
                                            안내, 통계 화면 및 기능구현 & 단위테스트 및 오류 수정
                                        </li>
                                        <li>
                                            <strong>Project Schedule:</strong>
                                            2022-07-12 ~ 2022-12-31
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>