<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="portfolioModal2">
<!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">판판대로</h2>
                                    <p class="item-intro text-muted">고도화 & Mobile Web</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2_1.png" alt="..." />
                                    <p>
                                    	중소기업 판로 지원사업 및 최신 유통 트렌드와 제품동향 정보를 제공하는 솔루션으로
                                    	<br/>판판대로 PC 버전의 홈페이지의 기능을 계승한 Mobile Web고도화 프로젝트
                                    	<br/><a href="https://fanfandaero.kr/mobile/main.do">https://fanfandaero.kr/mobile/main.do</a>
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Main Task:</strong>
                                           	Home, 기능성페이지, 로그인, 회원가입 등 전반적인 Full-Stack 개발업무
                                        </li>
                                        <li>
                                            <strong>Project Schedule:</strong>
                                            2023-01-02 ~ 2023-04-28
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>