<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="portfolioModal4">
<!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">사이버보안연구센터</h2>
                                    <p class="item-intro text-muted">악성코드 분석 & MiniFilter Driver 개발</p>
                                    <img class="img-fluid d-block mx-auto cyberCenter" src="assets/img/portfolio/4_1.png" alt="..." />
                                    <p>
                                    	순천향대학교 내 최신 악성코드에 관한 분석과 연구가 이루어 지는 염흥렬 교수님 산하 연구센터
                                    	<br/>시그니처, 동적 분석 기반의 백신와 크롤러를 이용한 Exploit kit 분석 등 다양한 연구를 진행
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Main Task:</strong>
                                            악성코드 분석, 백신 & 크롤러 개발
                                        </li>
                                        <li>
                                            <strong>Period:</strong>
                                            2019-06 ~ 2020-07
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>