<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="portfolioModal3">
<!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">해올정보기술</h2>
                                    <p class="item-intro text-muted">Renewal</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3_1.png" alt="..." />
                                    <p> PHP Hard Coding으로 개발되어 데이터관리 및 관리페이지의 부재로 인한  문제를 해결하고자 
                                    <br/>Java Spring boot & Thymeleaf로 차세대 개발한 해올정보기술 자사 홈페이지 1인 리뉴얼 프로젝트</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Main Task:</strong>
                                            퍼블리싱을 제외한 DB설계 및 전체 개발
                                        </li>
                                        <li>
                                            <strong>Project Schedule:</strong>
                                            2023-04-28 ~ 2023-06-23
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>