<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Test Projects</title>
</head>
<body>
	<form th:action="@{projects}" th:object="${projectVo}" method="post">
		<table>
			<tbody>
				<tr>
					<td>고객</td>
					<td><input type="text" th:field="*{client}"></td>
				</tr>
				<tr>
					<td>프로젝트</td>
					<td><input type="text" th:field="*{projectName}"></td>
				</tr>
				<tr>
					<td>시작일자</td>
					<td><input type="text" th:field="*{startDate}"></td>
				</tr>
				<tr>
					<td>종료일자</td>
					<td><input type="text" th:field="*{endDate}"></td>
				</tr>
			</tbody>
			<button type="submit">프로젝트 등록</button>
		</table>
	</form>
	
	<div>
		</p>
		</p>
		</p>
		</p>
	</div>
	
	<h1>Project List Test</h1>
	<table>
		<tr>
			<th>고객</th>
			<th>프로젝트</th>
			<th>시작일자</th>
			<th>종료일자</th>
		</tr>
		<tr th:each="project: ${projects}">
			<td th:text="${project.client}"></td>
	        <td th:text="${project.projectName}"></td>
	        <td th:text="${project.startDate}"></td>
	        <td th:text="${project.endDate}"></td>
		</tr>
	</table>
</body>
</html>