<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Test Projects</title>
</head>
<body>
	<h1>신규 프로젝트 등록</h1>
	<form th:action="@{clientProjects}" th:object="${projectVo}" method="post">
		<table>
			<tbody>
				<tr>
					<td>고객</td>
					<td><input type="text" th:field="*{client}"></td>
				</tr>
				<tr>
					<td>프로젝트</td>
					<td><input type="text" th:field="*{projectName}"></td>
				</tr>
				<tr>
					<td>시작일자</td>
					<td><input type="text" th:field="*{startDate}"></td>
				</tr>
				<tr>
					<td>종료일자</td>
					<td><input type="text" th:field="*{endDate}"></td>
				</tr>
			</tbody>
			<button type="submit">프로젝트 등록</button>
		</table>
	</form>
	<a th:href="@{/admin/projects}">사업 리스트</a>
	<a th:href="@{/admin/clients}" >고객 리스트</a>
	<div>
		</p>
		</p>
		</p>
		</p>
	</div>
	
	<h1>고객별 사업 리스트</h1>
	    <h2 th:each="client: ${clients}">
	    	<h3 th:text="${client.client}"></h3>
	    	<h3 th:text="${client.logoPath}"></h3>
	        <table>
	        	<tr>
	        		<th>고객</th>
	        		<th>프로젝트</th>
	        		<th>시작일자</th>
	        		<th>종료일자</th>
	        	</tr>
	        	<tr th:each="project: ${client.clientProjects}">
	        		<td th:text="${project.client}"></td>
	                <td th:text="${project.projectName}"></td>
	                <td th:text="${project.startDate}"></td>
	                <td th:text="${project.endDate}"></td>
	        	</tr>
	        </table>
	    </h2>
</body>
</html>