<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="admin/layout/head :: headFragment"></th:block>

    <body id="page-top">
    	<div id="wrapper">
	    	<!-- 사이드바 -->
	        <th:block th:replace="admin/layout/sidebar :: sidebarFragment"></th:block>
	        
	        <!-- Content Wrapper -->
	        <div id="content-wrapper" class="d-flex flex-column">
	        	<!-- Main Content -->
	            <div id="content">
			    	<!-- 상단바-->   	
			        <th:block th:replace="admin/layout/topbar :: topbarFragment"></th:block>
			              
			        <!-- 본문-->
			        <th:block layout:fragment="content"></th:block>
	        	</div>
	        	
	        	<!-- 공통 하단-->
	        	<th:block th:replace="admin/layout/footer :: footerFragment"></th:block>
	        </div>
	        <!-- 공통 스크립트-->
	        <th:block th:replace="admin/layout/script :: scriptFragment"></th:block>
       	</div>
    </body>
</html>