<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="ability">
	 <!-- Services-->
        <section class="page-section bg-light" id="ability">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ability</h2>
                    <h3 class="section-subheading text-muted">Global talent with outstanding capabilities</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                    	<a class="portfolio-link" data-bs-toggle="modal" href="#abilityModal1">
	                        <span class="fa-stack fa-4x">
	                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
	                            <i class="fas fa-user-plus fa-stack-1x fa-inverse"></i>
	                        </span>
	                    </a>
                        <h4 class="my-3">Competency</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Development</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shield-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Security</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                </div>
            </div>
        </section>        
</th:block>
</html>