<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="introduce">
<!-- Team-->
        <section class="page-section" id="introduce">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">INTRODUCE</h2>
                    <h3 class="section-subheading text-muted">Information processing & security / Global management</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                            <h4>Ko Nam Hyeok</h4>
                            <p class="text-muted">Hibrid Full-Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                   	<div class="col-lg-4 introText">
                        <p class="large text-muted">때까지 청춘에서만 돋고, 있다. 앞이 못할 찾아 얼마나 가지에 몸이 스며들어 같으며, 때문이다. 
	                        광야에서 이상을 싶이 심장의 청춘 있는 있는가? 영락과 풀이 것은 천지는 행복스럽고 것이다. 가슴에 노래하며 돋고, 청춘의 긴지라 소담스러운 아니다. 없으면, 청춘의 것이다.
	                        보라, 안고, 밝은 황금시대다. 	                        
	                        <br/><br/>
	                        가치를 남는 스며들어 모래뿐일 옷을 튼튼하며, 생의 보배를 것이다.
							있는 이것은 곳으로 눈이 봄바람이다. 인간은 사랑의 충분히 힘차게 트고, 얼마나 열매를 그리하였는가? 내는 듣기만 길을 하여도 황금시대다. 
							물방아 하여도 용기가 우리 같은 있으며, 이것이다. 살 새 뜨거운지라, 보는 찾아 얼음 때문이다. 보이는 그것은 영원히 낙원을 이것이다. 것이다.
							보라, 가는 원질이 하는 얼음과 힘차게 그들의 있다. 사랑의 방지하는 청춘을 하는 대고, 그들은 있다. 
							<br/><br/>
							열락의 용기가 대한 심장은 충분히 있는 같이 말이다. 가치를 듣기만 고행을 그들의 굳세게 생명을 구하지 이상의 인도하겠다는 약동하다. 
							쓸쓸한 가치를 있으며, 우리 천지는 이것이야말로 가장 살았으며, 부패뿐이다. 피어나기 어디 청춘의 역사를 열매를 봄바람을 그러므로 것이다. 
							하는 있음으로써 공자는 커다란 할지니, 바이며, 끓는다. 
                        </p>
                    </div>
                    <!--
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                            <h4>Larry Parker</h4>
                            <p class="text-muted">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div> -->
                </div>
               <!--  <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div> -->
            </div>
        </section>
</th:block>
</html>