<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<th:block th:fragment="record">
<!-- About-->
        <section class="page-section" id="record">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Record</h2>
                    <h3 class="section-subheading text-muted">A series of education, university, company, etc.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/A1.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016-2017</h4>
                                <h4 class="subheading">I2Sec & KH정보교육원 수료</h4>
                            </div>
                            <div class="timeline-body">
	                            <p class="text-muted">
	                            	국제정보보안학원인 I2sec에서 기초적인 보안지식과 보안기법들을 습득하였으며, KH정보교육원을 통해
	                            	Web&App개발에 대한 전반적인 교육을 수료.
	                            </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/A2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>February 2018</h4>
                                <h4 class="subheading">해커스랩 인턴</h4>
                            </div>
                            <div class="timeline-body">
	                            <p class="text-muted">
	                            	약 6개월 인턴 과정동안 보안컨설팅 프로젝트에 참여하여 대구지방국세청의 취약점 분석 및 모의해킹을 진행.                 
	                            </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/A3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2019</h4>
                                <h4 class="subheading">SCH 순천향대학교</h4>
                            </div>
                            <div class="timeline-body">
                            <p class="text-muted">
                            	정보보호학과에 입학하여 염흥렬 교수님 지도아래 Security First 동아리와 사이버보안연구센터의 소속을 거쳤으며, 글로벌디자인경영학과를 복수전공함.
                            </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/A5.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>January 2022</h4>
                                <h4 class="subheading">승화하이테크 인턴</h4>
                            </div>
                            <div class="timeline-body">
                            <p class="text-muted">
                            	글로벌디자인경영학과의 졸업요건 방침에 따라 3개월간 인턴으로 G코드 자동변환 Python 프로그램을 개발.
                            </p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/A4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2022-2023</h4>
                                <h4 class="subheading">해올정보기술</h4>
                            </div>
                            <div class="timeline-body">
                            <p class="text-muted">
                            	산업기능요원으로 입사하여 국민연금공단의 공적연금연계 차세대 대규모 프로젝트를 참여, 판판대로 Mobile Web 고도화 사업 및
                            	자사 홈페이지 리뉴얼 1인 개발업무를 수행.
                            </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                            	<br />
                            	Current
                                <!-- Be Part
                                <br />
                                Of Our
                                <br />
                                Story! -->
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
</th:block>
</html>