<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div>
            <h2>
                <a href="index.html"><img src="images/footer_logo.png" alt="해올정보주식회사 로고"></a>
            </h2>
    
            <div>
                <address>서울시 서초구 서초중앙로 41, 10층 (서초동, 대성빌딩)</address> 대표전화: <a href="tel:+8202525-5551">02&#41;525-5551</a> FAX : 02&#41;525-5846
                <span>Copyright © 1994-2017 HAEOL CO,LTD. All Rights Reserved</span>
            </div>
        </div>
        <a href="">로그인</a>
    </footer>
</th:block>
</html>