<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>(주)해올정보기술</title>
	    <!-- jquery CDN -->
	    <script th:src="@{//code.jquery.com/jquery-3.3.1.min.js}"></script>
	    <!-- plugin CDN -->
	    <script th:src="@{//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js}"></script> 
		<link rel="shortcut icon" th:href="@{/..}" type="image/x-icon">
	    <link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css}">
	    <link rel="stylesheet" th:href="@{//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css}">
	    <script th:src="@{js/core.js}"></script>
	    <link rel="stylesheet" th:href="@{css/import.css}">
	</head>
</th:block>
</html>