<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">
	<header>
	    <!-- Topbar -->
	    <h1>
	    	<a href="index.html">
	        	<img src="images/header_logo.png" alt="해올정보주식회사 로고">
	    	</a>
	    </h1>
	        
	    <nav>
	            <ul>
	                <li>
	                    <a href="about_welcome.html">ABOUT US</a>
	                    <ul>
	                        <li><a href="">인사말</a></li>
	                        <li><a href="">조직</a></li>
	                        <li><a href="">연혁</a></li>
	                        <li><a href="">SP인증</a></li>
	                        <li><a href="">수상</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="business_field.html">BUSINESS</a>
	                    <ul>
	                        <li><a href="">사업분야</a></li>
	                        <li><a href="">ISP 컨설팅</a></li>
	                        <li><a href="">SI 구축</a></li>
	                        <li><a href="">SM 운영</a></li>
	                        <li><a href="">주요 고객사</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="reference_si.html">REFERENCE</a>
	                    <ul>
	                        <li><a href="">SI 구축사례</a></li>
	                        <li><a href="">SM 운영사례</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <a href="">CONTACT US</a>
	                    <ul>
	                        <li><a href="">오시는 길</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </nav>
	    <!-- End of Topbar -->
	</header>
</th:block>
</html>