<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(주)해올정보기술</title>
    <!-- jquery CDN -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- plugin CDN -->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="js/core.js"></script>
    <link rel="stylesheet" href="css/import.css">
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                <img src="images/header_logo.png" alt="해올정보주식회사 로고">
            </a>
        </h1>

        <nav>
            <ul>
                <li>
                    <a href="about_welcome.html">ABOUT US</a>
                    <ul>
                        <li><a href="about_welcome.html">인사말</a></li>
                        <li><a href="about_group.html">조직</a></li>
                        <li><a href="about_history.html">연혁</a></li>
                        <li><a href="about_sp.html">SP인증</a></li>
                        <li><a href="about_prize.html">수상</a></li>
                    </ul>
                </li>
                <li>
                    <a href="business_field.html">BUSINESS</a>
                    <ul>
                        <li><a href="business_field.html">사업분야</a></li>
                        <li><a href="business_isp.html">ISP 컨설팅</a></li>
                        <li><a href="business_si.html">SI 구축</a></li>
                        <li><a href="business_sm.html">SM 운영</a></li>
                        <li><a href="business_customer.html">주요 고객사</a></li>
                    </ul>
                </li>
                <li>
                    <a href="reference_si.html">REFERENCE</a>
                    <ul>
                        <li><a href="reference_si.html">SI 구축사례</a></li>
                        <li><a href="reference_sm.html">SM 운영사례</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact_us_map.html">CONTACT US</a>
                    <ul>
                        <li><a href="contact_us_map.html">오시는 길</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content_wrap"></div>

    <footer>
        <div>
            <h2>
                <a href="index.html"><img src="images/footer_logo.png" alt="해올정보주식회사 로고"></a>
            </h2>
    
            <div>
                <address>서울시 서초구 서초중앙로 41, 10층 (서초동, 대성빌딩)</address> 대표전화: <a href="tel:+8202525-5551">02&#41;525-5551</a> FAX : 02&#41;525-5846
                <span>Copyright © 1994-2017 HAEOL CO,LTD. All Rights Reserved</span>
            </div>
        </div>
        <a href="">로그인</a>
    </footer>
</body>
</html>