<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/layout/default_layout">

<th:block layout:fragment="content">
	<th:block th:replace="~{user/content/introduce:: introduce}"></th:block>
	<th:block th:replace="~{user/content/ability:: ability}"></th:block>
	<th:block th:replace="~{user/content/portfolio:: portfolio}"></th:block>
	<th:block th:replace="~{user/content/about:: about}"></th:block>	
	<th:block th:replace="~{user/content/clients:: clients}"></th:block>
	<th:block th:replace="~{user/content/contact:: contact}"></th:block>
</th:block>
</html>