<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(주)해올정보기술</title>
    <!-- jquery CDN -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- plugin CDN -->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="js/core.js"></script>
    <link rel="stylesheet" href="css/import.css">
    
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                <img src="images/header_logo.png" alt="해올정보주식회사 로고">
            </a>
        </h1>

        <nav>
            <ul>
                <li>
                    <a href="about_welcome.html">ABOUT US</a>
                    <ul>
                        <li><a href="">인사말</a></li>
                        <li><a href="">조직</a></li>
                        <li><a href="">연혁</a></li>
                        <li><a href="">SP인증</a></li>
                        <li><a href="">수상</a></li>
                    </ul>
                </li>
                <li>
                    <a href="business_field.html">BUSINESS</a>
                    <ul>
                        <li><a href="">사업분야</a></li>
                        <li><a href="">ISP 컨설팅</a></li>
                        <li><a href="">SI 구축</a></li>
                        <li><a href="">SM 운영</a></li>
                        <li><a href="">주요 고객사</a></li>
                    </ul>
                </li>
                <li>
                    <a href="reference_si.html">REFERENCE</a>
                    <ul>
                        <li><a href="">SI 구축사례</a></li>
                        <li><a href="">SM 운영사례</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">CONTACT US</a>
                    <ul>
                        <li><a href="">오시는 길</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content_wrap main">
        <div class="mainSlide_Container">
            <ul class="mainSlide">
                <li>
                    <dl>
                        <dt><span>ISP</span> 컨설팅이란</dt>
                        <dd>경영 요구에 의한 정보 기술 체계를 구축하는 과정입니다.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><span>ISP</span> 컨설팅이란</dt>
                        <dd>경영 요구에 의한 정보 기술 체계를 구축하는 과정입니다.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><span>ISP</span> 컨설팅이란</dt>
                        <dd>경영 요구에 의한 정보 기술 체계를 구축하는 과정입니다.</dd>
                    </dl>
                </li>
            </ul>
        </div>
        
        <div>
            <h4>상품소개</h4>
            <ul>
                <li>
                    <dl>
                        <dt><img src="images/slider_logo1.png" alt="국민연금공단 로고"></dt>
                        <dd>2007년 국민연금차세대정보시스템 구축부터  10년간 29개 구축 및 유지보수 사업을 수행하여, 풍부한 업무지식 및 최고의 기술력을 보유한 국민연금에 특화된 전문 구축회사입니다.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><img src="images/slider_logo3.png" alt="국가기술표준원 로고"></dt>
                        <dd>국가표준 인증 통합정보시스템의 BPR/ISP부터  표준업무지원시스템, 인증업무 지원시스템, 전문가관리, 위원회관리, 통계정보시스템 등 핵심 시스템을 구현하여, 표준, 인증, 시험에 대한  전문지식 및 기술력을 보유하고 있습니다.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt><img src="images/slider_logo4.png" alt="국립전파연구원 로고"></dt>
                        <dd>다년간의 방송통신 통합정보시스템 구축, 유지보수, 운영지원 경험을 통해 축적된 업무지식 및 기술력으로 방송통신 통합정보시스템의 안정적인 운영 및 업무시스템의 성능 향상을 지향하고 있습니다.</dd>
                    </dl>
                </li>
            </ul>
        </div>
    
        <div>
            <h4>주요실적</h4>
            
            <a href=""><span>SI 구축사례</span></a>
            <a href=""><span>SM 운영사례</span></a>
        </div>
    
        <div class="subSlider_Container">
            <h4>주요고객사</h4>
            <ul class="subSlider">
                <li><img src="images/slider_logo1.png" alt="NPS 국민연금 로고"></li>
                <li><img src="images/slider_logo2.png" alt="기업지원플러스G4B 로고"></li>
                <li><img src="images/slider_logo3.png" alt="국가기술표준원 로고"></li>
                <li><img src="images/slider_logo4.png" alt="RRA국립전파연구원 로고"></li>
                <li><img src="images/slider_logo5.png" alt="국민건강보험 로고"></li>
                <li><img src="images/slider_logo6.png" alt="건강보험심사평가원 로고"></li>
            </ul>
        </div>
    
        <div>
            <h4>CONTACT</h4>
            <div>
                <div>
                    여러분의 <strong>문의</strong>에<br>
                    친절히 답변하겠습니다.
                    <a href="tel:+8202525-5551">02. 525-5551</a>
                </div>
                <ul>
                    <li>
                        <strong>ADDRESS</strong>
                        <address> 서울시 서초구 서초중앙로 41, 10층 (서초동, 대성빌딩)</address>
                    </li>
                    <li>
                        <strong>CONTACT</strong>
                        <span>전화: <a href="tel:+8202525-5551">02&#41;525-5551</a></span>
                        <span>FAX : 02&#41;525-5846</span>
                    </li>
                    <li>
                        <strong>ETC</strong>
                        <span>홈페이지 : <a href="index.html">www.haeolit.co.kr</a></span>
                        <span>e-mail : <a href="mailto:haeolit@haeolit.co.kr">haeolit@haeolit.co.kr</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <div>
            <h2>
                <a href="index.html"><img src="images/footer_logo.png" alt="해올정보주식회사 로고"></a>
            </h2>
    
            <div>
                <address>서울시 서초구 서초중앙로 41, 10층 (서초동, 대성빌딩)</address> 대표전화: <a href="tel:+8202525-5551">02&#41;525-5551</a> FAX : 02&#41;525-5846
                <span>Copyright © 1994-2017 HAEOL CO,LTD. All Rights Reserved</span>
            </div>
        </div>
        <a href="">로그인</a>
    </footer>
</body>
</html>